:host {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .badge {
    font-weight: bold;
    opacity: 0.8;
    font-size: 1rem;
  }

  & .list {
    margin-top: 5px;
  }

  & .list-controls {
    display: flex;
    gap: 5px;
  }

  & .list-item {
    background-color: var(--color-bg);
    width: 100%;
    margin: 5px 0;

    &.active {
      background-color: var(--color-bg-dark);
    }

    &:hover {
      background-color: var(--color-bg);
    }
  }
}
