.markdown {
  font-size: 1.4rem;
  line-height: 2.4rem;

  & table {
    width: 100%;
    -webkit-box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.23);
    margin: 20px 0;

    & th {
      border-bottom: 1px solid white !important;
      padding: 10px 15px;
    }

    & td {
      padding: 10px 15px;
    }

    & tr:nth-child(even) {
      background-color: rgba(22, 22, 22, 0.6);
    }
  }
}
