.markdown {
  font-size: 1.4rem;
  line-height: 2.4rem;

  & table {
    width: 100%;
    -webkit-box-shadow: var(--shadow-1);
    box-shadow: var(--shadow-1);
    margin: 20px 0;

    & th {
      border-bottom: 1px solid var(--border) !important;
      padding: 10px 15px;
    }

    & td {
      padding: 10px 15px;
    }

    & tr:nth-child(even) {
      background-color: var(--surface-2);
    }
  }
}
