:host {
  display: block;

  .diagram-host {
    height: 100%;
  }
  .diagram {
    width: 100%;
    height: 99dvh; // wichtig: parent needs size

    border: 1px dashed rgba(255, 255, 255, 0.12);
    background: rgba(0, 0, 0, 0.12);
  }

  .controls {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;

    button {
      display: flex;
      gap: 5px;
    }
  }
}
