:host {
  display: block;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .diagram-host {
    height: 100%;
    flex: 1 1 auto;
    min-height: 0;
  }
  .diagram {
    width: 100%;
    height: calc(100% - 26px);
    max-height: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    background: rgba(0, 0, 0, 0.12);
  }

  .lefttop {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;

    .spacer {
      flex: 1 1 auto;
      min-width: 12px;
    }

    button {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    @media (max-width: 768px) {
      max-width: 100px;
    }
  }

  & .runbar-toggle {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }

    &.open {
      & .runbar-toggle__icon {
        transform: rotate(-90deg);
      }
    }
  }

  .runbar {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  &.runbar-open .diagram-host {
    flex: 1 1 calc(100% - 200px);
  }

  &.runbar-open .runbar {
    flex: 1 1 200px;
    opacity: 1;
    max-height: 200px;
    overflow: auto;
  }
}
